@using Microsoft.AspNetCore.Identity

@model RecruitmentViewModel

@inject SignInManager<IdentityUser> SignInManager

@section Style {
	<link rel="stylesheet"
		href="/css/shared.css" />
	<link rel="stylesheet"
		href="/css/pages/recruitment.css" />
}

<section id="class-grid">
	@foreach (var playerClass in Model.PlayerClasses)
	{
		<article class="class-card">
			<div class="card-title">
				<h2 class="class-name" id=@("class" + playerClass.Id)>
					@playerClass.Name
				</h2>
				
				<img
				class="class-icon"
				src=@playerClass.ImageUrl 
				alt="Icon representation of the player class." />			
			</div>

			<div class="specs">
				@foreach (var spec in playerClass.Specs)
				{
					<img
					class="spec-icon"
					src=@spec.ImageUrl 
					alt="Icon representation of the specialization." />

					<h2 class="spec-name">
						@(spec.Name + ":")
					</h2>

					<h2 class="demand" id=@("demand--" + spec.Demand.ToString("F"))>
						@spec.Demand.ToString("F")
					</h2>			

					<form asp-controller="Recruitment" asp-action="Index" method="post" class="demand">
						<input type="hidden" asp-for="@spec.Id" />

						<select
						asp-for="@spec.Demand"
						asp-items="Html.GetEnumSelectList<DemandEnum>()">
						</select>

						<button type="submit">Save</button>
					</form>

					@if (SignInManager.IsSignedIn(User))
					{
					}				
				}
			</div>
		</article>
	}
</section>