@using AscendedGuild.ViewModels.About

@model NewAboutViewModel

@section Style {
	<link rel="stylesheet"
		href="/css/shared.css" />
		
	<link rel="stylesheet"
		href="/css/pages/about.css" />
}

<form id="about-grid"
	asp-controller="About"
	asp-action="EditOrCreate"
	method="post">

	@if (User.IsInRole("Administrator"))
	{	
		<!-- The Administrator user can submit the changes made -->
		<div class="button-container">
			<button type="submit">
				Save
			</button>	
		</div>
	}

	<!-- Display each about-section along with a (admin-only) text-area for editing --> 
	@foreach(var aboutSection in Model.AboutContent)
	{
		string aboutSectionId = aboutSection.SimpleId;	

		<article class="about-section" id="@aboutSectionId">
			<h1 id="about-section__name">@aboutSection.Name</h1>

			@Html.Raw(aboutSection.HtmlContent)

			<!-- Show a text area to edit section when logged in as administrator -->
			@if (User.IsInRole("Administrator"))
			{
				string toggleId = aboutSectionId + "__toggle";

				<input 
				class="toggle"
				id="@toggleId"
				type="checkbox" />

				<label for="@toggleId" class="toggle-label">					
				</label>

				string editSectionId = aboutSectionId + "__edit";

				<section class="edit-section" id="@editSectionId">
					<div class="edit-instructions">
						<p>Use markdown to format your text.</p>

						<p>See this link for more information:
							<a
							class="editing-help-link"
							target="_blank"
							rel="noopener noreferrer"
							href="https://stackoverflow.com/editing-help">
								Stackoverflow markdown formatting
							</a>
						</p>
					</div><!-- End of edit-instructions -->					

					<textarea
					name="IncomingChanges[@aboutSection.TextBlockId]"					
					asp-for="@aboutSection.MarkdownContent"
					id="about-us-input">
					</textarea>						
				</section>
			}
		</article>
	}
</form>

<img
	class="about-us__logo"
	src="/images/About/full-animated-logo.gif" 
	alt="Ascended animated logo" />