@model StreamsViewModel

@using AscendedGuild.Models

@section Style {
	<link rel="stylesheet"
		href="/css/shared.css" />
		
	<link rel="stylesheet"
		href="/css/pages/streams.css" />
}

<!-- Load the Twitch embed script -->
<script src="https://embed.twitch.tv/embed/v1.js"></script>

<section class="twitch-list">
	<h2>@Model.AllTwitchStreamers.Any()</h2>
	@foreach (var streamer in Model.AllTwitchStreamers)
	{
		<article class="twitch-card">
			<div class="twitch-card__title">
				<h2 class="character-name">@streamer.CharacterName</h2>
				<h2 class="guild-rank">@streamer.GuildRank</h2>
				<h2 class="player-class">@streamer.PlayerClass.Name</h2>
				<h2 class="player-spec">@streamer.Spec.Name</h2>
			</div>
			<div class="twitch-embed" id="@streamer.Channel"></div>
		</article>
		
		<!-- Create a Twitch.Embed object that will render 
			within the "twitch-embed" root element. -->
		<script type="text/javascript">
			new Twitch.Embed("@streamer.Channel", {
				width: 854,
				height: 480,
				channel: "@streamer.Channel"
			});
		</script>
	}
</section>

<!-- Link to create new streamer only available to admin -->
@if (User.IsInRole("Administrator"))
{	
	<a 
	asp-controller="Streams" 
	asp-action="Create">
		Add a new Streamer
	</a>			
}