@model StreamsViewModel

@using AscendedGuild.Models

@section Style {
	<link rel="stylesheet"
		href="/css/shared.css" />
		
	<link rel="stylesheet"
		href="/css/pages/streams.css" />
}

<!-- Load the Twitch embed script -->
<script 
	src="https://embed.twitch.tv/embed/v1.js">
</script>

<!-- Load the Font Awesome embed script -->
<script 
src="https://kit.fontawesome.com/df3d0cc377.js"
crossorigin="anonymous">
</script>

<!-- Link to create new streamer only available to admin -->
@if (User.IsInRole("Administrator"))
{	
	<div class="create">
		<a 
		asp-controller="Streams" 
		asp-action="Create"
		class="create-link">
			Add a new Streamer
		</a>	
	</div>		
}

<section class="twitch-list">
	@foreach (var streamer in Model.AllTwitchStreamers)
	{
		<article class="twitch-card">
			<div class="twitch-card__title">
				<h2 class="character-and-guildrank">
					<b>@streamer.CharacterName</b>, <span><i>@streamer.GuildRank of</i> &lt;Ascended&gt;</span>						
				</h2>

				<h2 class="class-and-spec">
					@(streamer.Spec.Name + " " + streamer.PlayerClass.Name)
				</h2>

				<div class="spec-icon-container">
					<img
					class="spec-icon"
					src="@streamer.Spec.ImageUrl"
					alt="Icon representation of the specialization." />
				</div>

				<div class="class-icon-container">
					<img
					class="class-icon"
					src="@streamer.PlayerClass.ImageUrl" 
					alt="Icon representation of the player class." />
				</div>

				<!-- Link to delete streamer only available to admin -->
				@if (User.IsInRole("Administrator"))
				{
					<div class="delete-container">
						<a 
						asp-controller="Streams" 
						asp-action="Delete"
						asp-route-id="@streamer.TwitchStreamerId"
						class="delete-link">
							<i 
							class="fas fa-trash"
							id="delete-icon">
							</i>
						</a>	
					</div>					
				}									
			</div>

			<div class="twitch-embed" id="@streamer.Channel"></div>
		</article>
		
		<!-- Create a Twitch.Embed object that will render 
			within the "twitch-embed" root element. -->
		<script type="text/javascript">
			new Twitch.Embed("@streamer.Channel", {
				channel: "@streamer.Channel"
			});
		</script>
	}
</section>