@using AscendedGuild.Models.Streams

@model IEnumerable<TwitchStreamer>

@section Style {
	<link rel="stylesheet"
		href="/css/shared.css" />
		
	<link rel="stylesheet"
		href="/css/pages/streams.css" />
}

<!-- Load the Twitch embed script -->
<script 
	src="https://embed.twitch.tv/embed/v1.js">
</script>

<!-- Load the Font Awesome embed script -->
<script 
src="https://kit.fontawesome.com/df3d0cc377.js"
crossorigin="anonymous">
</script>

<!-- Link to create new streamer only available to admin -->
@if (User.IsInRole("Administrator"))
{	
	<div class="create">
		<a 
		asp-controller="Streams" 
		asp-action="Create"
		class="create-link">
			Add a new Streamer
		</a>	
	</div>		
}

<section class="twitch-list">
	@foreach (var streamer in Model)
	{
		<article class="twitch-card">
			<!-- Control to toggle twitch embed visibility -->
			@{
				string toggleId = "toggle__" + streamer.TwitchStreamerId;
			}

			<input 
			class="toggle"
			id="@toggleId"
			type="checkbox" />

			<label for="@toggleId" class="toggle-label">					
			</label>				

			<h2 class="character-and-guildrank">
				<b>@streamer.CharacterName</b>, <span><i>@streamer.GuildRank of</i> &lt;Ascended&gt;</span>						
			</h2>

			<p class="class-and-spec">
				@(streamer.Spec.Name + " " + streamer.PlayerClass.Name)
			</p>

			<div class="spec-icon-container">
				<img
				class="spec-icon"
				src="@streamer.Spec.ImageUrl"
				alt="Icon representation of the specialization." />
			</div>

			<div class="class-icon-container">
				<img
				class="class-icon"
				src="@streamer.PlayerClass.ImageUrl" 
				alt="Icon representation of the player class." />
			</div>
			
			@if (User.IsInRole("Administrator"))
			{
				<!-- Link to delete streamer only available to admin -->
				<a 
				asp-controller="Streams" 
				asp-action="Delete"
				asp-route-id="@streamer.TwitchStreamerId"
				class="delete-link">
					<i 
					class="fas fa-trash"
					id="delete-icon">
					</i>
				</a>				
			}	

			@{				
				string embedId = "embed__" + streamer.TwitchStreamerId;
			}
			
			<div class="twitch-embed" id=@embedId></div>		
		
			<!-- Create a Twitch.Embed object that will render 
				within the "twitch-embed" root element. -->
			<script type="text/javascript">
				new Twitch.Embed("@embedId", {
					channel: "@streamer.Channel"
				});
			</script>
		</article>
	}
</section>